# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env.*
.venv/
venv/
*.sqlite3

# Flask / Gunicorn
instance/
*.log

# Redis (optional)
dump.rdb

# Netlify
.netlify/
dist/
node_modules/  # just in case

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
*.swp