# Node
node_modules/
dist/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*.db
*.sqlite3
*.env
*.egg-info/

# Logs and caches
*.log
logs/
.cache/

# Mac / system files
.DS_Store
.AppleDouble
.LSOverride

# Editor/IDE
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Netlify
/.netlify/
# DO NOT ignore netlify.toml

# Build artifacts
seo_injection.html
